{% include 'commonHeadPart.html' %}
<style>
    div{
        max-width:100vw;
        margin:auto;
        background:#ffffff;
        padding:20px;
        border-radius:8px;
    }
    table{
        margin: 2rem 0;
        width: 100%;
        cellpadding: 10;
        cellspacing: 0;
        border-collapse: collapse;
        text-align: center;
        font-size: var(--content-font-size);
    }
    tr{
        background-color:#e5e7eb;
    }
    th, td{
        border:1px solid #000;
    }
    td{
        background-color: white;
    }
    a{
        margin-top: 1rem;
    }

    .report{
        font-size: var(--content-font-size);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    }

    .report .go-back a{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }

</style>

<body>

{% include 'header.html' %}

<section>
    <h1 class="heading">Automation <span>Report</span></h1>

    <div class="report">
        <p>Hi <b>{{email[0].split('@')[0]}},</b></p><br>

        {% if report %}
        <p class="subsubheading-font-size">Good News! there {% if report | length > 1 %} are {{ report | length }} new
            Primary Shares {% else %} is a new Primary Share {% endif %} issued to be
            applied.</p><br>
        {% else %}
        <p class="subsubheading-font-size">Unfortunately! no new Primary Shares has been issued recently.<br><br>But we
            will be constantly looking for them and if any new Primary Shares are listed you will be notified
            immediately as per your subscription, so that you won't miss any opportunities.</p><br>
        {% endif %}

        <h2 class="subheading"><span>Primary Shares Listing Status</span></h2>

        <table>
            <tr>
                <th rowspan="2">Company Name</th>
                <th rowspan="2">Symbol</th>
                <th colspan="2">Listed</th>
                <th rowspan="2">Type</th>
            </tr>
            <tr>
                <th>as:</th>
                <th>for:</th>
            </tr>
            {% if report %}
            {% for data in report %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[3] }}</td>
                <td>{{ data[4] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            {% endif %}

        </table>

        {%if report%}
        <p>
            You can log in to your meroshare account and apply for the listed shares.<br>
            <a href="https://meroshare.cdsc.com.np/#/login">https://meroshare.cdsc.com.np/#/login</a><br><br>
            Wishing you a very good luck! 🤞<br><br>
            <b>Regards,</b><br>
            <b>Dhiraj Dhungana</b><br>
            Developer of this automated system.
        </p>
        {% else %}
        <p>
            You can log in to your meroshare account to view your portfolio and other information.<br>
            <a href="https://meroshare.cdsc.com.np/#/login">https://meroshare.cdsc.com.np/#/login</a><br><br>
            Have a good one! 😎<br><br>
            <b>Regards,</b><br>
            <b>Dhiraj Dhungana</b><br>
            Developer of this automated system.
        </p>
        {% endif %}
        <div class="go-back">
            <a href="{{ url_for('index')}}" class="btn-1">Go Back</a>
        </div>
    </div>

</section>

{% include 'footer.html' %}
