<header class="header">
    <a href="https://dhirajdhungana.com" class="logo"><span>Dhi</span>raj</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="https://dhirajdhungana.com#services">Services</a>
        <a href="https://dhirajdhungana.com#projects">Projects</a>
        <a href="https://dhirajdhungana.com#about">About</a>
        <a href="https://dhirajdhungana.com#contact" class="contact-navItem">Contact Me</a>
    </nav>

    <a href="https://dhirajdhungana.com#contact" class="contact">Contact Me</a>
</header>