{% include 'commonHeadPart.html' %}

<body>

{% include 'header.html' %}

<section class="subscribe-form" id="subscribe-form" style="text-align: center;">
    <h1 class="heading">Welcome to <span>New IPO Alert</span> system.</h1>

    <img class="thumbnail" src="../static/img/ipo_alert.gif" alt="New IPO Alert - Nepse">

    <form method="post" action="/automationReport">

        <div class="input-box">
            <input type="email" placeholder="Please enter your email" name="email" required>
        </div>

        <div class="input-box">
            <input type="number" placeholder="Depository Participants (DP): 12345" pattern="^\d{5}$" name="Depository Participants" required>
        </div>

        <div class="input-box">
            <input type="number" placeholder="Username: 12345678" pattern="^\d{8}$" name="Username" required>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Password" name="password" required>
        </div>

        <input type="submit" value="Check now" class="btn-1">
    </form>
</section>

{% include 'footer.html' %}